{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
