---
import Layout from "../layouts/PrimaryLayout.astro";

import ClickableLink from "../components/ClickableLink.astro";
import MobileNavigation from "../components/MobileNavigation";
---

<Layout>
  <div class="px-6 pt-6">
    <header class="flex items-start justify-between">
      <section>
        <div>
          <h1 class="text-xl font-semibold">Revanth Pothukuchi</h1>
          <p>MIT &#39;25, CS</p>
        </div>
        <div class="space-x-3 pt-2">
          <ClickableLink
            href="https://www.linkedin.com/in/revanthpothukuchi"
            aria-label="LinkedIn Page"
          >
            linkedin
          </ClickableLink>
          <ClickableLink
            href="https://www.github.com/Hacker-007"
            aria-label="GitHub Page"
          >
            github
          </ClickableLink>
          <ClickableLink href="mailto:revanthp@mit.edu" aria-label="Email">
            email
          </ClickableLink>
        </div>
      </section>
      <MobileNavigation client:load />
    </header>
  </div>
</Layout>
