---
import Layout from '../layouts/Layout.astro'

import Link from '../components/Link.astro'
import { RedisTerminal } from '../components/RedisTerminal'
import { EnviousEditor } from '../components/EnviousEditor'
import InteractiveProject from '../components/InteractiveProject.astro'
---

<Layout>
  <div class="mx-auto max-w-6xl px-6 py-8">
    <header class="flex items-start justify-between">
      <section>
        <h1 class="text-lg font-semibold tracking-tight">Revanth Pothukuchi</h1>
        <p class="text-muted text-base">MIT '25, CS</p>
        <div class="mt-2 flex gap-4 text-base">
          <Link
            aria-label="LinkedIn Page"
            href="https://www.linkedin.com/in/revanthpothukuchi"
          >
            LinkedIn
          </Link>
          <Link
            aria-label="GitHub Page"
            href="https://www.github.com/Hacker-007"
          >
            GitHub
          </Link>
          <Link aria-label="Email" href="mailto:revanthpothukuchi123@gmail.com">
            Email
          </Link>
          <Link aria-label="Resume Page" href="/resume">Resume</Link>
        </div>
      </section>
      <nav class="flex items-center gap-8 text-base">
        <Link aria-label="Projects Page" href="/projects">Projects</Link>
        <Link aria-label="Blog Page" href="/blog">Blog</Link>
      </nav>
    </header>

    <section class="mt-12 max-w-150 text-base">
      <h2 class="text-muted leading-relaxed">
        Member of Technical Staff at Nexus.
        <br />
        <br />
        Previously, algorithmic quantitative intern at Citibank, technical co-founder
        of photographer-matching startup, security researcher at MIT CSAIL.
      </h2>
    </section>

    <div class="my-20"></div>

    <section class="flex items-start justify-between gap-12">
      <div class="flex-1">
        <InteractiveProject
          id="redis"
          title="Redis Server"
          description="A partial implementation of an asynchronous, multi-threaded, and multiplexed Redis server."
          tags={['Distributed Systems', 'Performance Engineering']}
        >
          <RedisTerminal client:load />
        </InteractiveProject>
      </div>
      <div class="flex-1">
        <InteractiveProject
          id="envious"
          title="Envious"
          description="A compiler for the Envious programming language with compilation to LLVM and basic type inference."
          tags={['Compiler']}
        >
          <EnviousEditor client:load />
        </InteractiveProject>
      </div>
    </section>
  </div>
</Layout>
