---
import { renderHighlightedCode } from '../utils/shiki'

import Layout from '../layouts/AppLayout.astro'
import { RedisTerminal } from '../components/RedisTerminal'
import { EnviousEditor } from '../components/EnviousEditor'
import InteractiveProject from '../components/InteractiveProject.astro'

const defaultCode = `fn fibonacci(n: Int) -> Int {
  if n <= 1 {
    return n
  }

  let a = fibonacci(n - 1)
  let b = fibonacci(n - 2)
  return a + b
}

let result = fibonacci(10)
print(result)`

const renderedCode = await renderHighlightedCode(defaultCode)
---

<Layout>
  <main class="mt-8 max-w-2xl md:mt-12">
    <h2 class="text-muted leading-relaxed">
      Member of Technical Staff at Nexus.
      <div class="md:hidden">
        <br />
        <br />
      </div>
      Previously, an algorithmic quantitative intern at Citi, technical co-founder
      of a startup, and security researcher at MIT CSAIL.
    </h2>
  </main>

  <section
    class="mt-12 flex flex-col items-center justify-between gap-10 md:mt-20 md:flex-row md:items-start"
  >
    <div class="flex-1">
      <InteractiveProject
        id="redis"
        ariaLabel="redis server project"
        title="Redis Server"
        description="A partial implementation of an asynchronous, multi-threaded, and multiplexed Redis server."
      >
        <RedisTerminal client:load />
      </InteractiveProject>
    </div>
    <div class="flex-1">
      <InteractiveProject
        id="envious"
        ariaLabel="envious compiler project"
        title="Envious"
        description="An AOT compiler for a custom language with a LLVM backend and Hindley-Milner type inference."
      >
        <EnviousEditor
          client:load
          defaultCode={defaultCode}
          renderedDefaultCode={renderedCode}
        />
      </InteractiveProject>
    </div>
  </section>
</Layout>
