---
import "@fontsource-variable/playfair-display";
import RightArrowIcon from "./icons/RightArrowIcon.astro";
---

<div>
  <div class="flex items-center justify-between">
    <p class="blog-title font-semibold">A walk in the park</p>
    <time class="text-sm text-[#334155]">Jan 1<span>st</span>, 2025</time>
  </div>
  <p class="line-clamp-3 text-sm">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet odit,
    similique temporibus vitae alias quaerat illo quam, fugit eligendi ad ullam
    voluptates quisquam ipsum voluptatibus assumenda vero natus perspiciatis.
    Provident.
  </p>
  <button class="flex items-center gap-1 pt-1 text-sm font-medium">
    read more
  </button>
</div>

<style>
  .blog-title {
    font-family: "Playfair Display Variable", serif;
  }
</style>
