---
interface Props {
  id: string
  title: string
  description: string
  children: unknown
}

const { id, title, description } = Astro.props
---

<slot />
<div class="mt-4">
  <h3 class="text-text font-medium">{title}</h3>
  <p class="text-muted text-sm">{description}</p>
  <a
    href={`/projects/${id}`}
    class="group text-accent hover:text-text mt-2 inline-flex items-center gap-1 font-medium transition-colors"
  >
    explore
    <span class="inline-block transition-transform group-hover:translate-x-0.5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="mt-0.5 size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
      </svg>
    </span>
  </a>
</div>
